.popup-review{
    position: relative;
    margin: 30px auto;
    /* height: 65vh; */
    /* color: white; */
    max-width:45%; 
    align-items: center;
    /* background-color:#00897B; */
    padding-bottom: 2em;
    background-color:white;
    border:1px solid black;

}
.popup-rating{
    position: relative;
    margin: 30px auto;
    height: 50vh;
    max-width:25%;
    text-align: center;
    align-items: center;
    padding-bottom: 2em;
    background-color:white;
    border:1px solid black;
}
.review{
    cursor:pointer;
}
.popup-review .text{
    text-align: center;
}
.center-textarea{
    text-align: center;
    margin-top: 2em;
}
.popup-review textarea{
    width:80%;
    height:30vh;
    /* margin: auto 8px;
    padding: 12px; */
    border: #ddd 1px solid;
    border-radius: 5px;
    resize: none;
    margin-bottom: 3em;
    font-size: 14px;
    font-family: Arial;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;}
@media screen and(max-width:768px) {
    .popup-rating{
        position: relative;
        margin: auto auto;
        max-height: 100%;
        max-width:100%;
        text-align: justify;
        background-color: blueviolet;
        padding-bottom: 2em;
        
    }
        
    .popup-review textarea{
        width:80%;
        /* margin: auto 8px;
        padding: 12px; */
        max-height: 20vh;
        border: #ddd 1px solid;
        border-radius: 5px;
        resize: none;
        margin-bottom: 3em;
        font-size: 14px;
        font-family: Arial;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-transform: none;}
}
