@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.card {
  box-shadow: 0 2px 20px gray;
  transition: 0.1s;
  height: 12.5em;
  border-radius: 1em;
  width: 12.5em;
  text-align: center;
  background-color: #00897B;
  color: white;
  overflow: auto;
  cursor: pointer;
}
.checked {
  color: orange;
}
.sno {
  color: gray;
  font-size: small;
  text-align: left;
  margin-left: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 inset rgba(255, 0, 255, 0.5);
}


