@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.header .container-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.header img {
  width: 10%;
  height: 10%;
  cursor: pointer;
}
.header .container-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2em;
  width: 70%;
  position: relative;
  border: 1px solid black;
  background-color: white;
  margin: auto;
  border-radius: 0.5em;
}


.header .add-movie {
  display: flex;
  width: 10%;
  font-size: 0.75em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  color: white;
  justify-content: space-evenly;
  height: 20%;
  margin: auto;
  background-color: orange;
  cursor:pointer;
  align-items: center;
}
.header .add-movie .add-symbol{
  font-size: 2em;

}

.header .add-movie .add-text{
 
  text-align: center;
}

.background {
  background-color: #0a1852;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
option{
  text-transform: capitalize;
}
select{
  text-transform: capitalize;
}

/*for mobile views*/
@media screen and (max-width: 400px) {
  
  .header .add-movie {
    background: #0a1852;
    margin:auto auto auto 0.75em;
  }
  .header .add-movie .add-symbol{
    font-weight: bold;
    font-weight: bold;
    background: orange;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 0.15em
 }
}

@media screen and (max-width: 768px) {
  .header img {
    width: 20%;
    height: 20%;
  }
 
  .background {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
 
 .header .add-movie .add-text{
   display: none;
 }
  .header .container-inner {
    width: 50%;
  }
  .header input[type="text"] {
    width: 70%;
  }
  .header .btn {
    height:2em;
    width: 15%;
    cursor: pointer;
  }

}
.header .add-movie:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: darkorange ;
}
.header .add-movie:active{
  box-shadow: none;
}
