@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.header .container-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.header img {
  width: 10%;
  height: 10%;
  cursor: pointer;
}
.header .container-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2em;
  width: 70%;
  position: relative;
  border: 1px solid black;
  background-color: white;
  margin: auto;
  border-radius: 0.5em;
}
.header input[type="text"] {
  width: 95%;
  background-color: transparent;
  border: none;
  text-align: center;
}


.header .add-movie {
  display: flex;
  width: 10%;
  font-size: 0.75em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  color: white;
  justify-content: space-evenly;
  height: 20%;
  margin: auto;
  background-color: orange;
  cursor:pointer;
  align-items: center;
}
.header .add-movie .add-symbol{
  font-size: 2em;

}

.header .add-movie .add-text{
 
  text-align: center;
}
.header .btn {
  width: 5%;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
.background {
  background-color: #0a1852;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
option{
  text-transform: capitalize;
}
select{
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .header img {
    width: 20%;
    height: 20%;
  }
  .background {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  .header .add-movie {
  }
  .header .add-movie .add-symbol{
    font-weight: bold;
 }
 .header .add-movie .add-text{
   display: none;
 }
  .header .container-inner {
    width: 50%;
  }
  .header input[type="text"] {
    width: 70%;
  }
  .header .btn {
    width: 15%;
    cursor: pointer;
  }
  
}
