@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.header .container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.header img {
  width: 10%;
  height: 10%;
}
.header .container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2em;
  width: 70%;
  position: relative;
  border: 1px solid black;
  background-color: white;
  margin: auto;
  border-radius: 0.5em; 
}
.header input[type="text"] {
  width: 85%;
  border-right: 1px solid transparent;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
}
.header .opt {
  background-color: white;
}
.header .slt {
  width: 10%;
  border: 1px solid transparent;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: transparent;
  text-align: center;
}
.header .img{
  cursor: pointer;
}
.header .add-movie {
  width: 10%;
  font-size: 0.75em;
  padding: 0.5em 0.5em; 
  border-radius: 0.5em;
  color: white;
  justify-content: space-around;
  height: 20%;
  margin: auto;
  background-color: orange;
  cursor:pointer;
}
.header .btn {
  width: 5%;
  border: 1px solid transparent;
  justify-content: space-around;
  background-color: transparent;
  cursor: pointer;
}
.background {
  background-color: #0A1852;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em; 
}
