.fn {
  color: #00796b;
  font-size: large;
  font-weight: bold;
}

#dropdown {
  text-align: center;
}
#container1 {
  margin: 5em auto;
  max-width: 500px;
}
.grid {
  display: grid;
  margin: 2em auto;
  grid-row-gap: 3em;
  grid-column-gap: 1em;
  grid-template-columns: auto auto;
}
.genre-menu {
  width: 20%;
  height: 5vh;
  font-size: larger;
}
@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-row-gap: 1em;
    max-width: 200px;
    grid-template-columns: auto;
  }
  .genre-menu {
    width: 30%;
    height: 10%;
    font-size: large;
  }
  #container1 {
    margin: 3em auto;
  }
}
