.movie-form {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container{
    margin: 30px auto;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(204, 255, 229, 0.6);
}

.movie-form .form-wrap{
    padding:15px 25px;
    color:#333;
}
.movie-form .form-wrap h1,
.movie-form .form-wrap p{
    text-align: center;
}
.movie-form .form-wrap .form-group{
margin-top: 15px;
}
.movie-form .form-wrap .form-group input,
.movie-form .form-wrap .form-group textarea{
    width:94%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
    resize: none;
}
.movie-form .form-wrap .form-group input:focus,
.movie-form .form-wrap .form-group textarea:focus{
    outline: 2px blue;
    border-color: blue;
}

.movie-form .required{

}
.movie-form .required{
    color: red;
    font-size: 20px;
}
.movie-form .form-wrap .btn-center{
   
}
.movie-form .form-wrap .btn{    
    width: 100%;
    margin: 15px 0px;
    padding: 8px 16px;
    border:none;
    background: #FFE900;
    color: black;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    cursor:pointer;
}

.movie-form .form-wrap .btn:hover{    
    background: #FEE500; 
}   
.movie-form .form-wrap .bottom-text{
    font-size: 13px;
}