.movie-form .container{
    /* display: flex;
    flex-direction: column; */
    /* border: 2px solid; */
    display: block-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}


.movie-form .container li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.movie-form .container>li>*{
    flex: 1 0 220px;
}

.movie-form .container li button{
    margin: 15px 0px;
    padding: 8px 16px;
    border:none;
    background: #FFE900;
    color: black;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}
.movie-form input[type=text],textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0px;
    box-sizing: border-box; 
    resize: none;
    border: 2px solid #023C40;
}
  