@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    box-sizing: border-box;
}
.details-title{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
}
.center-rating{
    text-align: center;
}
.tagged{
    display: inline-block; 
    color: white;
    text-align: left;
    background-color:#FDD835;
    border-radius: 0.5em;
    padding:0.25em;
    margin-right:0.25em;
    margin-bottom:0.5em;
    /* white-space:nowrap; */
    /* max-height: 26px; */

}
.summary-wrap{
    padding: 0.3em;
        margin-top: 0.5em;
        padding-right: 	0.8em;
    background-color: #F7F7F7;
        border: 1px solid black;
}
.add{
    cursor: pointer;
    color: #2962FF;
    margin-bottom: 0.5em;
    /* font-weight: bolder; */
    font-size: large;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 6.2em;
    margin-left: 4em;
    border-radius: 0.2em;
    padding-bottom: 0.3em;
}
.modal-submit{
    padding-top: 4em;
    text-align: center;
    left:0;
}
.modal-btn{
    background-color: #FDD835;
    color: #fff;
    border-radius:5px;
    font-size:1em;
}
.close-btn{
    /* color:white; */
    font-size: x-large;
    font-weight: bold;
    background-color: transparent;
    top:0;
    right:0;
    border: transparent;
    cursor: pointer;
}
.right-modal{
    text-align: right;

}
.bold{
    text-align: center;
    font-weight: bold;
}
.rate-this-star{
    /* border:2px solid #2962FF; */
    text-align: center;
    color:#2962FF;
    font-weight: bold;
    font-size: 1.5em;
}
.user-reviews{
    color: #fff;
    background-color: #666666;
    padding:5px;
    font-weight: bold;
    border-radius: 5px;
}
.edit-btn{
    font-size: 1em;
    color: white;
    border-radius: 0.25em;
    background-color: #666666;   
    cursor: pointer;
}

.review-heading{
    font-weight: bold;
    text-align: center;
    color: #2962FF;
}
.main-container{
    display: flex;
    padding:2em;
    padding-top: 2em;
}
.detail-container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0px;
    padding: 0px;
    flex:7;
}

.title-and-edit-container {
    display: flex;
    min-height: 15vh;
    
}
.cast-title{
    /* color: #2962FF; */
    font-weight: bold;
    font-size: 1em;
}

.genre-items {
    /* display: flex; */
    font-size: 1em;
    font-weight: none;
    text-transform: capitalize;
    padding-top: 1.5em;
    min-height: 10vh;
}

.rating-container {
    display: flex;
    min-height: 10vh;
    
}

.summary-item {
    text-align: justify;
    min-height: 40vh;
    padding-top: 1em;
    max-width: 700px;
    word-wrap: break-word
}

.cast-items {
    padding-top: 2em;
    margin-bottom: 2em;
    min-height: 10vh;
    text-align: left;
    
}

.title {
    flex: 10;
    font-size: 2em;
    /* color: #00796b; */
    font-size:xx-large;
    text-transform: uppercase;
    font-weight: bold;
}

.edit {
    font-size: 1.5em;
    
}

.stars {
    flex: 2;
    font-size: 1.5em;
}

.numbers-container {
    display: flex;
    flex-direction: column ;
    flex: 1;
}
 .average{
    padding:0.25em;
    padding-right: 0;
    font-weight: bold;
    color:#2962FF;

 }
 .count{
    padding: 4px; 
    font-size: medium;
    font-style: italic;
 }
.personal-rating {
    max-width: fit-content;
    text-align: right;
    flex: 3;
}
.no-reviews{
    padding-top: 2em;
    font-weight: bold;
    text-align: center;
}
.review-container {
    display: flex;
    flex-direction: column;
    flex:3;
    margin-left:10em;
    margin-right: 5em; 
    overflow: auto;
    color: #00796b;
    font-size: large;
}
.checked{
    color: #FFFF00;
}
.review-section {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: auto;
    margin-bottom: 20vh;
    padding: 10px 10px;
    max-height: 150vh;
    overflow:scroll;
}
.review-section::-webkit-scrollbar {
    display: none;
}

.review-section{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

/* .review1 {
    background-color: greenyellow;
    text-align: center;
    min-height: 10vh;
}

.review2 {
    background-color: hotpink;
    text-align: center;
    min-height: 10vh;
}

.review3 {
    background-color: indigo;
    text-align: center;
    min-height: 10vh;

}

.review4 {
    background-color: royalblue;
    text-align: center;
    min-height: 10vh;
}

.review5 {
    background-color: saddlebrown;
    text-align: center;
    min-height: 10vh;
} */

.personal-review {
    display: flex;
    justify-content: center;
    margin: auto auto;
    text-align: center;
    order:2;
}
/*for add review button*/
.personal-review .add{
     margin-left: 0em;
     padding-top:0.4em;
}
/* ********************************************************************************************************** */
@media (min-width: 768px) and (max-width: 1120px) {
    .main-container{
        flex-direction: column;
        padding: 1.5em;
        padding-top: 2em;
    }
    .summary-item{
        max-width: 90%;
    }
}
@media screen and ( max-width : 768px){
    .main-container{
        flex-direction: column;
        padding: 1.5em;
        padding-top: 2em;
    }
    .summary-item {
        text-align: justify;
        
    }
    .review-container .personal-review{
        order:1;
        margin-bottom: 15px;
    }
    .review-container .review-section{
        order:2;
        margin-bottom: 0;
    }
    
    .average{
        padding:1em;
        padding-right: 0;
        font-weight: bold;
        color:#2962FF;
        text-align: left;
    
     }
     .count{
        padding: 2px; 
        font-size: small;
        font-style: italic;
     }
     .stars {
        padding-top: 0.7em;
        flex: 2;
        font-size: 0.5em;
    }
    .summary-item {
        padding-top: 1em;
    }
    .no-reviews{
        font-weight: bold;
        text-align: center;
    }
    .personal-rating {
        text-align: right;
    }
    .edit{
        font-size: 1.5em;
        padding-right: none;
        
    }
    .review-container {
        display: flex; 
        /* align-content: flex-start; */
        flex-direction: column;
        /* flex:3; */
        margin-left: 0em;
        margin-right: 0em;
        
    }
    .rating-container {
        font-size: 2em;
        
    }
    .modal-submit{
        padding-top: 0.5em;
        text-align: center;
        left:0;
    }
    .popup-rating{
        position: relative;
        margin: auto auto;
        max-width: 60%;
        max-height: auto;
        text-align: center;
        /* padding-bottom: 2em; */
        
    }
        
    .popup-review{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin: 30px auto;
        max-width:70%;
        max-height: 60vh; 
        align-items: center;
        background-color:white;
        border:1px solid black;
    
    }
    .popup-review textarea{
        width:80%;
        /* margin: auto 8px;
        padding: 12px; */
        max-height: 20vh;
        border: #ddd 1px solid;
        border-radius: 5px;
        margin-bottom: 3em;
        resize: none;
        font-size: 14px;
        font-family: Arial;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-transform: none;}
}

.popup-review .moviedetails{
    margin-bottom: 0em;
}

@media (min-width:257px) and (max-width : 310px) {
    .add{
        font-size: small;
    }
}
@media screen and (max-width:257px) {
    .add{
        font-size: 12px;
    }
}
