.popup{
    position: relative;
    margin: 30px auto;
    height: 75vh;
    width:75%;
    display: flex;
    justify-content: center;
    
    background-color: rgba(204, 255, 229, 0.6);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.inner{
    position: relative;
    padding: 2em;
    width: 100%;
}
.close{
    position: absolute;
    top: 0;
    right:0;
    content: "\00d7";

}
.text h1{
    text-align: center;
}
