.search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2em;
  width: 100%;
  position: relative;
  background-color: white;
  margin: auto;
  border-radius: 0.5em;
}
.search-bar input[type="text"] {
  width: 95%;
  background-color: transparent;
  border: none;
  text-align: left;
  padding-left: 0.5em;
}
.search-bar .btn {
  width: 5%;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
.error-tooltip{
  background-color: white;
  color: red;
  border-radius: 0.5em;
  padding: 1em;
}
@media screen and (max-width: 768px) {
  .search-bar .btn {
    width: 15%;
  }
  .error-tooltip{
    padding: 0.2em;
  }
}
