.search {
  margin: 3em auto;
  text-align: center;
}
.searchgrid {
  display: grid;
  margin: 2em auto;
  grid-row-gap: 3em;
  grid-column-gap: 1em;
  grid-template-columns: auto auto auto auto;
}
.search #container {
  max-width: 1000px;
  text-align: right;
  background-color: transparent;
  box-shadow: none;
}

.search .text {
  color: #00796b;
  font-size: large;
  font-weight: bold;
}

.search #container select {
  width: 20%;
  height: 5vh;
  font-size: larger;
}
@media screen and (max-width: 768px) {
  .searchgrid {
    display: grid;
    margin: 3em auto;
    grid-row-gap: 3em;
    grid-template-columns: auto;
  }
  .search #container {
    max-width: 200px;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
  }
  
  .search .text {
    color: #00796b;
    font-size: large;
    font-weight: bold;
  }

  .genre-menu {
    width: 30%;
    height: 10%;
    font-size: large;
  }
}
